{% extends 'base.html' %}

{% block title %}HOME{% endblock %}

{% block content %}
<div class="container">
  <h1 style="text-align: center; padding: 40px 0 40px;">Welcome to TASKOMPLETE</h1>
  <h3 style="font-weight: bold; text-align: center;">Taskomplete: Task Management for Teams</h3>
  <h3 class="product-bio" style="padding-bottom: 40px;">Taskomplete is a powerful, user-friendly web application designed to help teams efficiently track and manage their issues. Whether you're working on software development, project management, or any task-oriented workflow, Taskomplete streamlines the process, ensuring that everyone on your team stays organized and on track.</h3>
  <h2>Key Features:</h2>
  <div class="row">
    <div class="col-md-6 col-lg-4" style="padding: 15px 15px;">
      <h5>Role-Based Access: Taskomplete ensures that only Product Owners have the authority to create, edit, and delete issues, keeping the task management process controlled and efficient. Other team members can view the issues, allowing for full transparency across the team.</h5>
    </div>
    <div class="col-md-6 col-lg-4" style="padding: 15px 15px;">
      <h5>Issue Tracking: Easily manage tasks with an intuitive interface that allows users to keep track of their issues in different stages: To Do, In Progress, and Done. Team members can view the status, reporter, and priority of each issue.</h5>
    </div>
    <div class="col-md-6 col-lg-4" style="padding: 15px 15px;">
      <h5>Drag and Drop Functionality: Taskomplete features an interactive drag-and-drop interface, allowing users to quickly update the status of an issue by simply dragging it to the relevant column. This makes it easier to visualize progress and move issues between different stages.</h5>
    </div>
    <div class="col-md-6 col-lg-4" style="padding: 15px 15px;">
      <h5>Automatic Refresh: After making updates to the issue list using the drag-and-drop feature, users will need to refresh the page to see the changes reflected visually. While this ensures that updates are applied accurately, it encourages users to refresh the list to stay current with the latest changes.</h5>
    </div>
    <div class="col-md-6 col-lg-4" style="padding: 15px 15px;">
      <h5>User-Friendly Interface: With a clean and modern design, Taskomplete ensures that teams can focus on getting things done rather than wasting time on complicated interfaces.</h5>
    </div>
  </div>
</div>

{% endblock %}
